<div id="wrapper">
  
  <div id="head">
    
    <div id="hair">
      <svg width="300.0000000000001" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->

 <g>
  <path id="svg_3" d="m88.86327,181.6055l-1.21874,-6.31644l2.84766,-4.11328l2.84766,-6.01172l2.21484,-3.79688l-4.42969,1.26563l5.0625,-5.37891l-4.11328,0.94922l6.01172,-9.17578l-4.74609,2.21484l7.91016,-7.59375l-3.16406,-3.48047l-1.26563,-5.0625l0,-6.01172l0,-6.01172l0.31641,-6.01172l1.58203,-3.48047l-0.63281,-10.44141l3.48047,-0.31641l9.80859,1.89844l-4.11328,-5.69531l8.22656,4.42969c0,0 8.8125,2.51956 8.8125,2.83597c-0.00001,0.31641 8.22656,3.79687 7.95703,3.49216c-0.26953,-0.30471 6.59766,3.78518 6.32813,3.48047c-0.26953,-0.30471 -2.26172,-4.75779 -2.53125,-5.0625c-0.26953,-0.30471 8.8125,8.53127 8.54297,8.22656c-0.26953,-0.30471 4.38281,3.15237 4.11328,2.84766c-0.26953,-0.30471 -0.99609,-5.70701 -1.26563,-6.01172c-0.26953,-0.30471 8.17969,8.21487 7.91016,7.91016c-0.26953,-0.30471 6.59766,4.10159 6.32813,3.79688c-0.26953,-0.30471 -3.84375,-7.28904 -4.11328,-7.59375c-0.26953,-0.30471 5.64844,6.31644 6.28125,6.63284c0.63281,0.31641 8.54297,5.69531 9.17578,6.01172c0.63281,0.31641 5.0625,-3.16407 4.79297,-3.46878c-0.26953,-0.30471 5.33203,-3.49216 5.0625,-3.79688c-0.26953,-0.30471 11.66016,-6.65623 11.39063,-6.96094c-0.26953,-0.30471 -4.47656,5.68362 -4.74609,5.37891c-0.26953,-0.30471 24,-12.03513 23.73047,-12.33984c-0.26953,-0.30471 -4.16016,6.00002 -4.42969,5.69531c-0.26953,-0.30471 12.29297,-4.12498 12.02344,-4.42969c-0.26953,-0.30471 -0.67969,4.10159 -0.94922,3.79688c-0.26953,-0.30471 7.86328,-3.49216 7.59375,-3.79688c-0.26953,-0.30471 13.24219,-2.85935 12.97266,-3.16406c-0.26953,-0.30471 4.69922,2.20315 4.42969,1.89844c-0.26953,-0.30471 3.43361,5.05081 3.75002,5.05081c0.31641,0 3.16406,2.21484 3.16406,2.53125c0.00002,0.31641 1.58202,3.79687 1.31248,3.49216c-0.26953,-0.30471 -2.57813,4.41799 -2.84766,4.11328c-0.26953,-0.30471 -0.99609,6.00003 -1.26563,5.69531c-0.26953,-0.30472 2.48438,4.418 2.21484,4.11328c-0.26953,-0.30472 -2.89453,6.63284 -3.16406,6.32813c-0.26953,-0.30472 -2.57811,6.94925 -2.57811,7.26566c0.00002,0.31641 4.42967,5.37891 4.16014,5.07419c-0.26953,-0.30472 -4.16016,0.62112 -4.42969,0.31641c-0.26953,-0.30472 5.96484,3.46878 5.69531,3.16406c-0.26953,-0.30472 0.26953,4.418 0,4.11328c-0.26953,-0.30472 -2.26172,1.25394 -2.53125,0.94922c-0.26953,-0.30472 4.69923,2.83597 5.01564,3.15237c0.31642,0.31641 1.26561,4.74609 0.99608,4.44138c-0.26953,-0.30472 0.90234,6.63284 0.63281,6.32813c-0.26953,-0.30472 11.34375,-3.17575 11.07422,-3.48047c-0.26953,-0.30472 2.16797,-6.97263 1.89844,-7.27734c-0.26953,-0.30472 2.16797,-7.92184 2.16797,-8.23825c0,-0.31641 1.58203,-8.85938 1.3125,-9.16409c-0.26953,-0.30472 -1.3125,-14.88278 -1.58203,-15.1875c-0.26953,-0.30472 -2.26172,-13.61716 -2.53125,-13.92188c-0.26953,-0.30471 -0.04688,-6.65623 -0.31641,-6.96094c-0.26953,-0.30471 -1.62891,-10.76951 -1.89844,-11.07422c-0.26953,-0.30471 -2.26172,-14.24998 -2.53125,-14.55469c-0.26953,-0.30471 -5.10938,-7.92185 -5.37891,-8.22656c-0.26953,-0.30471 -4.79297,-9.50388 -5.0625,-9.80859c-0.26953,-0.30471 -2.89453,-5.707 -3.16406,-6.01172c-0.26953,-0.30471 -8.90625,-7.92186 -9.17578,-8.22656c-0.26953,-0.30471 -8.90625,-7.92186 -9.17578,-8.22656c-0.26953,-0.30471 -10.17188,-5.39061 -10.44141,-5.69531c-0.26953,-0.30471 -5.42578,-4.12498 -5.69531,-4.42969c-0.26953,-0.30471 -7.32422,-1.91014 -7.95703,-1.91014c-0.63281,0 -11.70703,-1.89844 -12.02344,-1.89844c-0.31641,0 -14.55469,0.63281 -14.82422,0.3281c-0.26953,-0.30471 -11.4375,-0.0117 -11.70703,-0.31641c-0.26953,-0.30471 -11.12109,1.88674 -11.39063,1.58203c-0.26953,-0.30471 -13.96875,1.25393 -14.23828,0.94922c-0.26953,-0.30471 -7.95703,5.0508 -8.22656,4.74609c-0.26953,-0.30471 -5.74219,5.0508 -6.375,5.36721c-0.63282,0.3164 -10.44141,2.21484 -10.71094,1.91013c-0.26952,-0.30471 -4.47657,6.63283 -4.74609,6.32813c-0.26952,-0.30471 -8.27345,5.0508 -8.27345,5.36721c0,0.3164 -7.59375,7.59375 -7.86327,7.28904c-0.26952,-0.30471 -5.10938,8.84768 -5.10938,9.48049c0,0.63281 -2.53125,11.07422 -2.80077,10.76951c-0.26952,-0.30471 -4.16016,10.42971 -4.42969,10.125c-0.26952,-0.30471 -2.57813,9.48049 -2.84766,9.17578c-0.26952,-0.30471 -1.62891,8.53127 -1.89844,8.22656c-0.26952,-0.30471 0.26952,14.85941 -0.04688,15.49222c-0.31641,0.63281 0.63281,14.23828 0.36329,13.93356c-0.26952,-0.30472 -0.6797,12.32816 -0.94922,12.02344c-0.26952,-0.30472 1.21874,10.42972 0.94922,10.125c-0.26952,-0.30472 9.4453,18.02347 9.4453,18.02347z" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="1" stroke="#000000"/>
 </g>
</svg>
    </div>
    
    <div id="face-paint-1"></div>
    <div id="face-paint-2"></div>
    <div id="face-paint-3"></div>
    <div id="face-paint-4"></div>
    <div id="face-paint-5"></div>
    <div id="face-paint-6"></div>
    <div id="face-paint-7"></div>
    <div id="face-paint-8"></div>
    <div id="face-paint-9"></div>
    <div id="face-paint-10"></div>
    
    <div id="l-ear">
      <div id="crest-1"></div>
      <div id="crest-2"></div>
      <div id="crest-3"></div>
    </div>
    
    <div id="l-brow"></div>
    <div id="l-eye">
      <div id="l-shade"></div>
      <div id="l-iris"></div>
      <div id="l-gleam"></div>
    </div>
    
    <div id="r-brow"></div>
    <div id="r-eye">
      <div id="r-shade"></div>
      <div id="r-iris"></div>
      <div id="r-gleam"></div>
    </div>
    
    <div id="forehead">
      <div id="u-wrinkles-1"></div>
      <div id="u-wrinkles-2"></div>
      <div id="l-wrinkles-1"></div>
      <div id="l-wrinkles-2"></div>
    </div>
    
    <div id="nose">
      <div id="nost-1"></div>
      <div id="nost-2"></div>
    </div>
    
    <div id="mouth">
      <div id="teeth"></div>
      <div id="tongue"></div>
      <div id="b-lip"></div>
    </div>
    
  </div>
  
  <div id="coat">
    
    <div id="l-inner-collar"></div>
    <div id="l-outer-collar"></div>
    
    <div id="r-inner-collar"></div>
    <div id="r-outer-collar"></div>
    <div id="r-outer-collar-2"></div>
    
    <div id="c-body-1"></div>

    <div id="c-body-2"></div>
    
    <div id="body">
      
      <div id="headband">
        <div id="metal"></div>
        <div id="bolt-1"></div>
        <div id="bolt-2"></div>
        <div id="bolt-3"></div>
        <div id="scratch"></div>
      </div>
      
      <div id="necklace">
        <div id="chain-1"></div>
        <div id="chain-2"></div>
        <div id="chain-3"></div>
        <div id="chain-4"></div>
        <div id="chain-5"></div>
        <div id="chain-6"></div>
        <div id="chain-7"></div>
        <div id="pendant"></div>
      </div>
      
      <div id="b-paint-1"></div>
      <div id="b-paint-2"></div>
      <div id="b-paint-3"></div>
      
    </div>
    
    <div id="scythe">
        <div id="p-1"></div>
        <div id="p-2"></div>
        <div id="p-3"></div>
        <div id="p-4"></div>
        <div id="p-5"></div>
        <div id="p-6"></div>
        <div id="p-7"></div>
        <div id="p-8"></div>
        <div id="p-9"></div>
      </div>
    
  </div>
  
</div>